

body{
    font-family: 'Open Sans', sans-serif;
}

.album_list{
    color: white;
}

.hero-image{
    background-image: url("../images/music-light-plant-white-photography-play-858499-pxhere.com.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-repeat:no-repeat;
    background-position: center;   
    z-index: -1;
    min-width: 100vw;
    min-height: 100vw;
}

.heading-text{
    font-family: Mr Dafoe, sans-serif ;
    color:#F297FF;
    font-size: 5rem;
    text-align: center;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

.hero-text-box p{
    text-align: center;
    color:aliceblue;
    font-size: 2rem;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

.user-input-box{
    color:aliceblue;
    background-color: rgba(60,60,60,0.5);
    border-radius: 20px;
    font-size: 1.5rem;
    border: 2px solid black;
}

#user_input{
    width: 80%;
}

#preview_music{
    width: 50%;
    height: 20px
}

#picture_artistsearch{
    border-radius: 50%;
    box-shadow: 0 0 40px 10px #fff;    
    height: 200px;
    width: 200px;
}

.artist_image{
    text-align: center;
}

.modal-header, .modal-body, .modal-footer, .modal-content{
background-color: orange;

}

.card{
   width: 18rem;
}

/*---------------------------------------- Model ----------------------------*/

.model_album_name{
    text-align: center;
}

/*----------------------------------- Media queries -------------------------*/

@media only screen and (max-width: 768px) {  

.artist_image{
    margin-top: 20px;
}

#user_input{
    width: 90%;
}

}

@media only screen and (max-width: 575px) {  
    
.artist_image{
    margin-bottom: 20px;
}

.user-input-box{
   text-align: center;
}

}
