

body{
    font-family: 'Open Sans', sans-serif;
}

.album_list{
    color: white;
}

.hero-image{
    background-image: url("../images/concert-inside-concert-hall-2728557.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-repeat:no-repeat;
    background-position: center;   
    z-index: -1;
}

.heading-text{
    font-family: Mr Dafoe, sans-serif ;
    color:#F297FF;
    font-size: 5rem;
    text-align: center;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

.hero-text-box p{
    text-align: center;
    color:aliceblue;
    font-size: 2rem;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

.user-input{
    color:aliceblue;
    background-color: rgba(60,60,60,0.5);
    border-radius: 20px;
    font-size: 1.5rem;
    border: 2px solid black;
    text-align: center;
}

.user-output{
    color:aliceblue;
    background-color: rgba(60,60,60,0.5);
    border-radius: 20px;
    font-size: 1.5rem;
     border: 2px solid black;
     position: relative;
}

.preview_audio{
    width: 50%;
}

#picture{
    float: right;
}

.modal-header, .modal-body, .modal-footer, .modal-content{
background-color: orange;
color: red;
}



/*------------------------------------------ type a head ----------------------------------------*/


.typeahead, .tt-query, .tt-hint {
	border: 2px solid #CCCCCC;
	border-radius: 8px;
	font-size: 1.2rem;
	height: 30px;
	line-height: 30px;
	outline: medium none;
	padding: 8px 12px;
	width: 50vw;
    font-weight: 800;
}
.typeahead {
	background-color: #FFFFFF;
}
.typeahead:focus {
	border: 2px solid #0097CF;
}
.tt-query {
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
}
.tt-hint {
	color: #999999;
}
.tt-menu {
	background-color: #FFFFFF;
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 8px;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	margin-top: 12px;
	padding: 8px 0;
	width: 422px;
}
.tt-suggestion {
	font-size: 22px;  
	padding: 3px 20px;
}
.tt-suggestion:hover {
	cursor: pointer;
	background-color: #0097CF;
	color: #FFFFFF;
}
.tt-suggestion p {
	margin: 0;
}
