
/* --------------------Image rotation specifics --------------------*/
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

/* ------------------------- Contents  -----------------------------*/
body{
    font-family: 'Open Sans', sans-serif;
}


.album_list{
    color: white;
}

.hero-image{
    background-image: url("../images/music-light-plant-white-photography-play-858499-pxhere.com.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-repeat:no-repeat;
    background-position: center;  
    z-index: -1;
    min-width: 100vw;
    min-height: 100vh;
}

.heading-text{
    font-family: 'Roboto', sans-serif;
    color:#fff;
    font-size: 5rem;
    text-align: center;
  
}

.hero_title_image{
    width: 100%;
    max-width: 800px;
    height: auto;
}

.hero-text-box {
    text-align: center;
    
}

.user-input-box{
    color:aliceblue;
    background-color: rgba(60,60,60,0.5);
    border-radius: 20px;
    font-size: 1.5rem;
    border: 2px solid black;
}

#user_input{
    width: 80%;
}

#user_input:hover{
    border: 2px solid #F25C05;
}

.html_buttons:hover{
    border: 2px solid #F25C05;
    background-color: yellow;
    color: #000000;
}

#preview_music{
    width: 50%;
    height: 20px
}

.artist_inital_image{
    border-radius: 50%;
    box-shadow: 0 0 40px 10px #fff;    
    height: 200px;
    width: 200px; 
 }  

.artist_history_image{
    margin-left: 50px;
    border-radius: 50%;
    box-shadow: 0 0 40px 10px #fff;    
    height: 50px;
    width: 50px; 
 }  

.artist_inital_image_spin{
    border-radius: 50%;
    box-shadow: 0 0 40px 10px #fff;    
    height: 200px;
    width: 200px; 
    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
 }  

.artist_image{
    text-align: center;
}

.card{
   width: 100%;
   margin-top: 20px
}

.card-image{
    justify-content: center;
}

.card-img-top:hover{
    border: 2px solid #F25C05;
}

#pick_name p:hover{
    cursor: pointer;
}

.album_select_heading{
    color: white;
    text-align: center;
}

#click_on_album h4{
    margin-top: 4px;
    padding-top: 8px;
}

#no_artist_found{
    font-weight: bold;
}

.user_history:hover{
    cursor: pointer; 
}

/*--------------------------------------- Model ----------------------------*/

.modal-header, .modal-body, .modal-footer, .modal-content{
    background-color: rgba(60,60,60);
    color: white;
}

.modal-content{
    border: 2px solid yellow;
}

.modal-body{ 
    text-align: center;
}

.track_name p{
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}

.model_album_name{
    text-align: center;
}

.modal-title h5{
    margin-bottom: 0px;
    padding-top: 4px;
}

#album_title_modal{
    padding-top: 4px;
}

#album_art_modal{ 
    border-radius: 50%;
    box-shadow: 0 0 40px 10px #fff;    
    margin-bottom: 4px;
    height: 200px;
    width: 200px; 
    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
}

#album_list{
    margin-bottom: 30px;
}

/*-------------- add event spinner -------------- */
#overlay {
    position: fixed;
    width: 100%; 
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 2000;
    cursor: pointer; 
  }
  
/********************  Preloader  *******************/
.preloader1,
.preloader1 
.loader{
    display:flex;
    align-content:center;
    margin-top: 20%;
}

.preloader1{
    height:100%;
    width:100%;
    padding:20px 0;
    flex-flow:column wrap;
    justify-content:center;
    align-items:center;
    perspective:700;
}

.preloader1 .loader{
    text-align:center;
    margin:5px;
    border-radius:50%;
    border:4px solid #fff;
    flex-flow:column wrap;
    justify-content:center;
    align-items:center;
    transform-style:preserve-3d;
    position:relative;
}

.preloader1 .preloader1 .loader-inner-1{
    animation:change_first_circle 2s ease-in-out infinite
}

.preloader1 .loader-inner-2{
    animation:change_second_circle 2s ease-in-out infinite
}

.preloader1 .loader-inner-3{
    width:100px;height:100px;
    animation:change_last_circle 3s linear infinite
}

@keyframes change_first_circle{
    50%{transform:rotateX(360deg) scale(.8)}
}

@keyframes change_second_circle{
    50%{transform:rotateY(360deg) scale(.8)}
}

@keyframes change_last_circle{
    50%{transform:rotateX(360deg) scale(.8)}
}

.reset-warning{
    color: #fff;
}

.reset-warning{
    text-align: center;
}

.warning-box{
    padding: 10px;
    border: solid 2px #fff;
    border-radius: 20px;
    background-color: #000000;
    margin-bottom: 5px;
}

/*----------------------------------- Media queries -------------------------*/

@media only screen and (max-width: 768px) {  

.artist_image{
    margin-top: 20px;
}

#user_input{
    width: 90%;
}
}

@media only screen and (max-width: 575px) {  
    
.artist_image{
    margin-bottom: 20px;
}

.user-input-box{
   text-align: center;
}

.modal-header{
        text-align: center;
    }
}
